extends layout

block content
  h1= time
  h2 Time Microservice
  p.purple Example Usage
  br
  code localhost:3000/March 8, 2018
  br
  code localhost:3000/1520513535
  br
  p.purple Expected Output is JSON
  br
  code {
  br
  span.margin "unix": 1520513535,
  br 
  span.margin "natural": March 8, 2018
  br
  code }
