body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.purple {
  color: white;
  background-color: navy;
  display:inline-block;
  padding: 0.5%;
}

.margin {
  margin-left: 1%;
}
